diss.aux
diss.bbl
diss.blg
diss.dvi
diss.lof
diss.log
diss.pdf
diss.ps
diss.toc
makefile.txt
propbody.aux
proposal.aux
proposal.dvi
proposal.log
proposal.pdf
proposal.ps

_trial_temp

thru/thru_5-m.csv
thru/thru_5-o.csv
thru/thru_5-p.csv
thru/thru_5.eps
diss/figs/thru_5.eps

thru/thru_20-m.csv
thru/thru_20-o.csv
thru/thru_20-p.csv
thru/thru_20.eps
diss/figs/thru_20.eps

thru/thru_rev-m.csv
thru/thru_rev-o.csv
thru/thru_rev-p.csv
thru/thru_rev.eps
diss/figs/thru_rev.eps

lat/lat_5-m.csv
lat/lat_5-o.csv
lat/lat_5-p.csv
lat/lat_5.eps
diss/figs/lat_5.eps

lat/lat_20-m.csv
lat/lat_20-o.csv
lat/lat_20-p.csv
lat/lat_20.eps
diss/figs/lat_20.eps

lat/lat_rev-m.csv
lat/lat_rev-o.csv
lat/lat_rev-p.csv
lat/lat_rev.eps
diss/figs/lat_rev.eps

start/start.eps
start/start2.eps
diss/figs/start.eps
diss/figs/start2.eps
