diss.aux
diss.bbl
diss.blg
diss.dvi
diss.lof
diss.log
diss.pdf
diss.ps
diss.toc
makefile.txt
propbody.aux
proposal.aux
proposal.dvi
proposal.log
proposal.pdf
proposal.ps

_trial_temp

thru/thru_10-m.csv
thru/thru_10-o.csv
thru/thru_10-p.csv
thru/thru_10.eps
diss/figs/thru_10.eps

thru/thru_20-m.csv
thru/thru_20-o.csv
thru/thru_20-p.csv
thru/thru_20.eps
diss/figs/thru_20.eps

thru/thru_rev-m.csv
thru/thru_rev-o.csv
thru/thru_rev-p.csv
thru/thru_rev.eps
diss/figs/thru_rev.eps

lat/lat_10-m.csv
lat/lat_10-o.csv
lat/lat_10-p.csv
lat/lat_10.eps
diss/figs/lat_10.eps

lat/lat_20-m.csv
lat/lat_20-o.csv
lat/lat_20-p.csv
lat/lat_20.eps
diss/figs/lat_20.eps

lat/lat_rev.eps
diss/figs/lat_rev.eps

lat/lat_nack.eps
diss/figs/lat_nack.eps

start/start.eps
start/start2.eps
diss/figs/start.eps
diss/figs/start2.eps
